# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

In [1]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,71.85,68,75,9.22,broken clouds
1,1,Los Llanos De Aridane,ES,28.6585,-17.9182,69.55,83,100,5.75,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,47.86,46,0,3.44,clear sky
3,3,Takoradi,GH,4.8845,-1.7554,76.24,87,24,5.70,few clouds
4,4,Buala,SB,-8.1450,159.5921,79.32,82,23,3.74,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your desired minimum temperature for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp =  float(input("What is your desired maximum temperature for your trip?"))

What is your desired minimum temperature for your trip?0
What is your desired maximum temperature for your trip?70

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Los Llanos De Aridane,ES,28.6585,-17.9182,69.55,83,100,5.75,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,47.86,46,0,3.44,clear sky
5,5,Busselton,AU,-33.6500,115.3333,48.49,75,10,12.88,clear sky
11,11,Vohibinany,MG,-17.3500,49.0333,60.08,96,1,2.21,clear sky
12,12,Beyneu,KZ,45.3167,55.2000,54.19,36,0,18.59,clear sky
13,13,Mataura,NZ,-46.1927,168.8643,47.48,99,25,5.55,moderate rain
14,14,Talnakh,RU,69.4865,88.3972,29.21,95,67,9.55,broken clouds
18,18,Provideniya,RU,64.3833,-173.3000,34.72,80,13,9.22,few clouds
19,19,Kodiak,US,57.7900,-152.4072,53.11,71,75,3.44,broken clouds
20,20,Torbay,CA,47.6666,-52.7314,50.58,62,75,11.99,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Los Llanos De Aridane,ES,28.6585,-17.9182,69.55,83,100,5.75,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,47.86,46,0,3.44,clear sky
5,5,Busselton,AU,-33.6500,115.3333,48.49,75,10,12.88,clear sky
11,11,Vohibinany,MG,-17.3500,49.0333,60.08,96,1,2.21,clear sky
12,12,Beyneu,KZ,45.3167,55.2000,54.19,36,0,18.59,clear sky
13,13,Mataura,NZ,-46.1927,168.8643,47.48,99,25,5.55,moderate rain
14,14,Talnakh,RU,69.4865,88.3972,29.21,95,67,9.55,broken clouds
18,18,Provideniya,RU,64.3833,-173.3000,34.72,80,13,9.22,few clouds
19,19,Kodiak,US,57.7900,-152.4072,53.11,71,75,3.44,broken clouds
20,20,Torbay,CA,47.6666,-52.7314,50.58,62,75,11.99,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng
1,Los Llanos De Aridane,ES,69.55,overcast clouds,28.6585,-17.9182
2,Ushuaia,AR,47.86,clear sky,-54.8000,-68.3000
5,Busselton,AU,48.49,clear sky,-33.6500,115.3333
11,Vohibinany,MG,60.08,clear sky,-17.3500,49.0333
12,Beyneu,KZ,54.19,clear sky,45.3167,55.2000

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Los Llanos De Aridane,ES,69.55,overcast clouds,28.6585,-17.9182,
2,Ushuaia,AR,47.86,clear sky,-54.8000,-68.3000,
5,Busselton,AU,48.49,clear sky,-33.6500,115.3333,
11,Vohibinany,MG,60.08,clear sky,-17.3500,49.0333,
12,Beyneu,KZ,54.19,clear sky,45.3167,55.2000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Los Llanos De Aridane,ES,69.55,overcast clouds,28.6585,-17.9182,Valle Aridane
2,Ushuaia,AR,47.86,clear sky,-54.8000,-68.3000,Albatross Hotel
5,Busselton,AU,48.49,clear sky,-33.6500,115.3333,Observatory Guest House
11,Vohibinany,MG,60.08,clear sky,-17.3500,49.0333,
12,Beyneu,KZ,54.19,clear sky,45.3167,55.2000,NUR
13,Mataura,NZ,47.48,moderate rain,-46.1927,168.8643,Ellie's Villa
14,Talnakh,RU,29.21,broken clouds,69.4865,88.3972,Talnakh Hotel
18,Provideniya,RU,34.72,few clouds,64.3833,-173.3000,
19,Kodiak,US,53.11,broken clouds,57.7900,-152.4072,Best Western Kodiak Inn
20,Torbay,CA,50.58,broken clouds,47.6666,-52.7314,Gallows Cove

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [12]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Los Llanos De Aridane,ES,69.55,overcast clouds,28.6585,-17.9182,Valle Aridane
2,Ushuaia,AR,47.86,clear sky,-54.8000,-68.3000,Albatross Hotel
5,Busselton,AU,48.49,clear sky,-33.6500,115.3333,Observatory Guest House
12,Beyneu,KZ,54.19,clear sky,45.3167,55.2000,NUR
13,Mataura,NZ,47.48,moderate rain,-46.1927,168.8643,Ellie's Villa
14,Talnakh,RU,29.21,broken clouds,69.4865,88.3972,Talnakh Hotel
19,Kodiak,US,53.11,broken clouds,57.7900,-152.4072,Best Western Kodiak Inn
20,Torbay,CA,50.58,broken clouds,47.6666,-52.7314,Gallows Cove
21,East London,ZA,67.86,few clouds,-33.0153,27.9116,Tu Casa
25,Hay River,CA,53.58,few clouds,60.8156,-115.7999,Ptarmigan Inn

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [13]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [14]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [15]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [16]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Valle Aridane</dd>\n<dt>City</dt><dd>Los Llanos De Aridane</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>clear sky and 47.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 48.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>NUR</dd>\n<dt>City</dt><dd>Beyneu</dd>\n<dt>Country</dt><dd>KZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 54.19 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>moderate rain and 47.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Talnakh Hotel</dd>\n<dt>City</dt><dd>Talnakh</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 29.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Kodiak Inn</dd>\n<dt>City</dt><dd>Kodiak</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 53.11 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gallows Cove</dd>\n<dt>City</dt><dd>Torbay</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 50.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tu Casa</dd>\n<dt>City</dt><dd>East London</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>few clouds and 67.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ptarmigan Inn</dd>\n<dt>City</dt><dd>Hay River</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>few clouds and 53.58 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [17]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   28.6585  -17.9182
2  -54.8000  -68.3000
5  -33.6500  115.3333
12  45.3167   55.2000
13 -46.1927  168.8643
14  69.4865   88.3972
19  57.7900 -152.4072
20  47.6666  -52.7314
21 -33.0153   27.9116
25  60.8156 -115.7999

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [22]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(40.0, 41.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Create a figure to add the Google map as a layer

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))